.App {
  /* text-align: center; */
    background-color: #91d6cc;
    margin :auto;
    margin-top: 2%;
    width: 90%;
    height: 100vh;
    border-radius: 20px;

}
.NaviBar{
  margin: auto;
  width: 80%;
}
.intro{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  height: 60%;

}
.about{
  display: flex;
  background-color:rgb(12, 25, 50);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
